.marquee {
  position: relative;
  padding: 140px 0;

  &__in {
    height: 91px;
  }

  &__text {
    position: absolute;
    font-family: $Circe;
    font-size: 6.4286rem;
    text-transform: uppercase;
    width: calc(100% + 20px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
