.marquee {
  position: relative;
  padding: 140px 0;
  white-space: nowrap;

  @include r(1200) {
    padding: 60px 0;
    white-space: normal;
  }

  &__in {
    height: 91px;

    @include r(1200) {
      display: none;
    }
  }

  &__text {
    position: absolute;
    font-family: $Circe;
    font-size: 6.4286rem;
    text-transform: uppercase;
    display: inline-block;
    left: calc(100% + 20px);
    top: 140px;

    @include r(1200) {
      font-size: 3.0714rem;
      position: relative;
      left: 0;
      top: 0;
    }
  }
}
