.nominal {
  .layout__grid {
    @include r(768) {
      grid-row-gap: 30px;
    }

    @include r(576) {
      grid-row-gap: 30px;
    }
  }

  &__picture {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    @include cv;

    &--circle {
      border-radius: 50%;
    }

    &-wrapper {
      position: relative;
      grid-column: 1/9;
      grid-row: 1/3;
      padding-top: 81.42681%;
      overflow: hidden;
      background-color: $dark;

      @include r(1200) {
        grid-column: 1/7;
      }

      @include r(768) {
        grid-row: auto;
      }

      @include r(576) {
        grid-column: span 13;
        margin-top: -10px;
      }

      //&::before {
      //  content: "";
      //  width: 1px;
      //  margin-left: -1px;
      //  float: left;
      //  height: 0;
      //  padding-top: 662px / 813px * 100%;
      //}
      //
      //&::after {
      //  content: "";
      //  display: table;
      //  clear: both;
      //}

      &--circle {
        padding-top: 100%;
        //&::before {
        //  padding-top: 714px / 714px * 100%;
        //}
      }
    }
  }

  &__info {
    grid-column: 9/13;
    grid-row: 1/2;

    @include r(1200) {
      grid-column: 7/13;
    }

    @include r(768) {
      grid-column: 1/13;
      //grid-row: auto;
      order: 1;
    }
  }

  //&__title {
  //  @include r(1200) {
  //    margin-bottom: 57px;
  //  }
  //}

  .button--circle {
    grid-column: 9/13;
    grid-row: 2/3;
    align-self: flex-end;

    @include r(1200) {
      grid-column: 7/11;
    }

    @include r(768) {
      grid-column: 7/13;
    }

    @include r(576) {
      grid-column: span 13;
    }
  }

  &--rtl {
    .nominal {
      &__info {
        grid-column: 1/6;
        grid-row: 1/2;

        @include r(768) {
          grid-column: 1/13;
          grid-row: 1;
        }
      }

      &__picture {
        &-wrapper {
          grid-column: 6/13;

          @include r(768) {
            grid-row: auto;
            grid-column: 7/13;
          }

          @include r(576) {
            grid-column: span 13;
            margin-top: -10px;
          }
        }
      }
    }

    .button--circle {
      grid-column: 1/6;
      grid-row: 2/3;

      @include r(768) {
        grid-row: auto;
        grid-column: 1/7;
      }

      @include r(576) {
        grid-column: span 13;
      }
    }
  }

  &--tight {

    @include r(768) {
      .layout__grid {
        grid-row-gap: 10px;
      }
    }

    &__info {
      grid-column: 1/5;

      @include r(768) {
        grid-column: 1/13;
      }
    }

    &__right {
      grid-column: 5/13;

      @include r(768) {
        grid-column: 1/13;
      }

      &-description {
        grid-column: span 7;

        @include r(768) {
          grid-column: 1/13;
        }
      }
    }

    &--rtl {
      .nominal--tight__info {
        grid-column: 9/13;

        @include r(768) {
          grid-column: 1/13;
          grid-row: 1/2;
        }
      }

      .nominal--tight__right {
        grid-column: 1/9;

        @include r(768) {
          grid-column: 1/13;
        }
      }

      .about__section-button {
        left: auto;
        right: 0;
      }
    }

    &__picture {
      @include cv;

      &::before {
        content: "";
        width: 1px;
        margin-left: -1px;
        float: left;
        height: 0;
        //padding-top: 49.34733%;
        padding-top: 662px / 1226px * 100%;
      }

      &::after {
        content: "";
        display: table;
        clear: both;
      }
    }

    &__small-picture {
      width: 100%;
      height: 100%;
      @include cv;

      &::before {
        content: '';
        display: block;
        padding-bottom: 100%;
      }

      &--circle {
        border-radius: 50%;
        overflow: hidden;
      }

      &-wrapper {
        overflow: hidden;
        transform-origin: 0 100%;
        &--olive {
          background-color: $olive;
        }
      }
    }

    &__subscribe-picture {
      @include cv;
      @include rmin(768) {
        height: 100%;
      }
      @include r(768) {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }

      &-wrapper {
        position: relative;
        overflow: hidden;
        transform-origin: 0 100%;
        background-color: $dark;

        @include rmin(768) {
          height: 100%;
        }
        @include r(768) {
          padding-top: 399px / 813.5px * 100%;
        }
      }

      &::before {
        content: "";
        width: 1px;
        margin-left: -1px;
        float: left;
        height: 0;
        //padding-top: 49.34733%;
      }

      &::after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }

  &__text {
    font-family: $Constantia;
    font-size: 1.1429rem;
    line-height: 1.3;
    color: $gray;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__promo {
    &-in {
      font-family: $Constantia;
      font-size: 2.8571rem;
      text-align: center;
      color: $dark;
      align-self: center;

      @include r(1200) {
        font-size: 2.1429rem;
      }
     }

    &-title {
      grid-column: 1/4;
      margin-top: 15px;

      @include r(768) {
        grid-row: 2/3;
        grid-column: 1/13;
        //margin-top: 0;
        margin-bottom: 50px;
      }
    }
  }
}
