.project {
  grid-column: span 4;

  @include r(960) {
    grid-column: span 6;
  }

  @include r(576) {
    grid-column: span 12;
  }

  &__picture {
    width: 100%;
    @include cv;

    &::before {
      content: "";
      width: 1px;
      margin-left: -1px;
      float: left;
      height: 0;
      padding-top: 619px / 500px * 100%;

      @include r(960) {
        padding-top: 619px / 800px * 100%;
      }
    }

    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &__top {
    position: relative;
    display: block;
    margin-bottom: 10px;
  }

  &__in {
    @include ovl;
    background-color: $olive;
    opacity: 0;
    @include ease;
    @include flex-center;
    padding: 0 25px;

    &:hover {
      opacity: 1;

      .project__title {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__title {
    position: relative;
    font-size: 2.8571rem;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    opacity: 0;
    @include ease;
    transform: translateY(5px);
    transition-delay: .2s;
    z-index: 1110;
  }

  &__link {
    font-size: 0.8571rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &-arrow {
      margin-left: 15px;
      @include ease;
    }

    &:hover {
      color: $dark;
      .project__link-arrow {
        transform: translateX(4px);
        //fill: $olive;
      }
    }
  }
}
