button {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: $tr;
}

.button {
  position: relative;
  font-family: $Arimo;
  text-transform: uppercase;
  text-align: center;
  color: $black;
  letter-spacing: 0.04em;
  background-color: $olive;
  border: 1px solid $olive;
  outline: none;
  box-shadow: none;
  @include ease;
  padding: 11px 8px;
  display: inline-block;

  &:hover {
    color: $white;
  }

  span {
    position: relative;
    z-index: 1110;
  }

  &--tr {
    position: relative;
    font-size: 1.4286rem;
    color: $olive;
    background-color: $tr;
    border-color: $tr;
    padding: 0;
    text-transform: uppercase;
    display: inline-block;

    //&::before {
    //  position: absolute;
    //  content: '';
    //  width: 0;
    //  height: 1px;
    //  left: 0;
    //  bottom: 0;
    //  background-color: $dark;
    //  @include cubic;
    //}

    &:hover {
      color: $olive;
      //&::before {
      //  width: 100%;
      //}
    }
  }

  &--circle {
    position: relative;
    font-size: 1.0714rem;
    text-transform: uppercase;
    color: $white;
    width: 100%;
    border-radius: 50%;
    background-color: $dark;
    @include flex-center;
    transition: none;

    &::before {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    &:hover {
      color: $white;

      .button--circle__icon {
        transform: translateX(5px);
      }
    }

    &__in {
      position: relative;
      transform: translateX(22px);
      display: flex;
      align-items: center;
      z-index: 1110;
    }

    &__icon {
      fill: $white;
      margin-left: 25px;
      @include ease;

      @include rmin(1480) {
        width: 25px;
        height: 15px;
      }
    }

    &--olive {
      background-color: $olive;
    }
  }

}
