$Arimo: 'Arimo';
$Arimo-Bold: 'Arimo-Bold';
$Arimo-BoldItalic: 'Arimo-BoldItalic';
$Arimo-Italic: 'Arimo-Italic';
$Constantia: 'Constantia';
$Circe: 'Circe';

.a-bold {
  font-family: $Arimo-Bold;
}

.const {
  font-family: $Constantia;
}
