.popup {
  &__container {
    max-width: 560px;
    padding: 43px 15px 55px;
    background-color: $white;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);

    @include r(768) {
      max-width: 320px;
    }

    .fancybox-close-small {
      top: 0;
      right: 2px;
      padding: 0;

      svg {
        path {
          fill: #fff;
        }
      }
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 25px;
  }

  &__fields {
    max-width: 370px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;

    @include r(768) {
      max-width: 80%;
    }
  }
}

.fancybox {
  &-content {
    padding: 0;
    background: $tr;
  }
  &-slide--html {
    padding: 0;
  }
}
/*.fancybox-slide {
  @include scroll;
}*/
//.fancybox-slide--current {
//  .popup {
//    transform: translateY(0);
//    opacity: 1;
//  }
//  @include r(1200) {
//    .header__bot-in {
//      .container {
//        transform: translateY(0);
//        opacity: 1;
//      }
//    }
//  }
//}
