h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection {
  color: $white;
  background-color: $olive;
}
::selection {
  color: $white;
  background-color: $olive;
}
