.contacts {
  @include r(768) {
    order: 2;
  }
  &__layout {
    @include r(768) {
      display: flex;
      flex-direction: column;
    }
  }
  &__title {
    grid-column: 1/5;
    margin-bottom: 0;

    @include r(768) {
      grid-column: 1/13;
      padding: 25px 0 15px;
    }

    @include r(576) {
      padding-bottom: 10px;
    }
  }
  &__form {
    grid-column: 5/13;
    display: grid;

    @include rmin(768) {
      transform: translateY(-15px);
    }

    @include r(768) {
      grid-column: 1/13;
    }

    @include r(576) {
      padding: 20px 0 30px;
    }
  }
  &__input,
  &__textarea {
    color: $lightgray;
    padding: 0;
    border: none;

    &::placeholder {
      color: $lightgray !important;
    }
  }

  &__input {
    font-size: 1.4286rem;
    height: 48px;

    &::placeholder {
      font-size: 1.4286rem;
    }
  }

  &__textarea {
    font-size: 2.1429rem;
    text-transform: none;

    &::placeholder {
      font-size: 2.1429rem;
      text-transform: none;
    }
  }

  .button--tr {
    text-align: left;
    justify-self: flex-start;
    margin-top: 15px;
  }

  &__info {
    grid-column: span 13;
    padding-bottom: 10px;

    .layout__grid {
      grid-row-gap: 10px;
    }

    @include r(768) {
      grid-row: 2/3;
    }
  }

  &__item {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    &:first-child {
      grid-column: 1/5;
    }

    &:nth-child(2),
    &:nth-child(3) {
      grid-column: span 3;
    }

    &:last-child {
      grid-column: 11/13;
    }

    @include r(1200) {
      grid-column: span 6 !important;
    }

    @include r(576) {
      grid-column: span 12 !important;
    }
  }

  &__link {
    position: relative;

    //&::before {
    //  position: absolute;
    //  content: '';
    //  width: 0;
    //  height: 1px;
    //  left: 0;
    //  bottom: 0;
    //  background-color: $dark;
    //  @include cubic;
    //}

    &:hover {
      color: $olive;

      //&:before {
      //  width: 100%;
      //}
    }
  }

  &__map {
    height: 400px;

    @include r(768) {
      order: 1;
      height: 300px;
      margin-top: 10px;
    }
  }
}

.mapboxgl-canvas-container.mapboxgl-interactive, .mapboxgl-ctrl-group button.mapboxgl-ctrl-compass {
  cursor: none !important;
}

.mapboxgl-ctrl-logo {
  z-index: -1 !important; // This is 1000 by default
  position: absolute;
  bottom: -200px;
  pointer-events: none;
}
//[class*="ymaps-2"][class*="-ground-pane"] {
//  -webkit-filter: grayscale(100%) !important;
//  filter: grayscale(100%) !important;
//}
//
//[class*="ymaps-2"][class*="-balloon__content"] {
//  @include r(564) {
//    background: $olive;
//    margin-right: 0;
//    padding: 0;
//  }
//}
//
//[class*="ymaps-2"][class*="-balloon_layout_panel"] {
//  @include r(564) {
//    background: $olive;
//  }
//}
//
//[class*="ymaps-2"][class*="-events-pane"] {
//  cursor: none !important;
//}

.balloon {
  &__content {
    font-size: 0.80rem;
    text-align: left;
    text-transform: uppercase;
    width: 129px;
    height: 129px;
    background-color: $olive;
    padding: 10px;
    margin-top: 49px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include rmin(1800) {
      width: 139px;
    }
  }

  &__address {
    display: flex;
    flex-direction: column;

    @include r(564) {
      margin-bottom: 10px;
    }

    span:last-child {
      color: $white;
    }
  }

  &__name {
    white-space: nowrap;
  }
}
