.feedback {
  grid-column: 2/12;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 30px;

  @include r(1200) {
    grid-column: 1/13;
  }

  &__section {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;

    & > .layout__grid:first-child {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }

  &__close {
    font-size: 12px;
    text-transform: uppercase;
    color: $olive;
    display: flex;
    align-items: center;
    grid-column: 11/13;

    span:first-child {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        width: 0;
        height: 1px;
        left: 0;
        bottom: 0;
        background-color: $olive;
        @include cubic;
      }
    }

    &-icon {
      fill: $olive;
      margin-left: 35px;
    }

    &:hover {
      span:first-child {
        &::before {
          width: 100%;
        }
      }
    }
  }

  &__title {
    grid-column: 1/5;

    @include r(768) {
      grid-column: 1/13;
    }
  }

  &__fields {
    grid-column: 1/5;
    grid-row: 2/6;

    display: grid;
    grid-row-gap: 10px;

    @include r(768) {
      grid-column: 1/13;
    }
  }

  &__textarea {
    grid-column: 5/11;
    grid-row: 2/6;

    @include r(768) {
      grid-column: 1/13;
      grid-row: auto;
      margin-top: -20px;
    }
  }

  .checkbox {
    grid-column: 5/11;
    grid-row: 6/7;

    @include r(768) {
      grid-column: 1/13;
      grid-row: auto;
    }
  }

  .button {
    grid-column: 5/11;
    grid-row: 7/8;

    @include r(768) {
      grid-column: 1/13;
      grid-row: auto;
    }
  }

}
