.partners {
  &__title {
    font-size: 1.4286rem;
    text-transform: uppercase;
    grid-column: 1/5;
    padding: 65px 0 0;

    @include r(768) {
      grid-column: 1/13;
      padding: 0 !important;
    }
  }

  &__item {
    @include r(768) {
      padding: 40px 0;
    }

    &:first-child {
      .partners__title {
        padding: 45px 0 0;
      }
    }

    &:last-child {
      margin-bottom: 70px;
    }
  }

  &__slider {
    height: 250px;
    //padding-bottom: 20px;

    @include r(768) {
      height: auto;
      //padding-bottom: 10px;
    }

    &-wrapper {
      grid-column: 5/13;

      @include r(768) {
        grid-column: 1/13;
      }
    }

    @include rmin(768) {
      .swiper-slide {
        height: calc((100% - 60px) / 2);
      }
    }

    &-logo {
      max-width: 100%;
      height: auto;
      opacity: .3;
      @include ease;
      transform: translateY(-50%);

      &:hover {
        opacity: .8;
      }
    }
  }
}
