.partners {
  &__title {
    font-size: 20px;
    text-transform: uppercase;
    grid-column: 1/5;
    padding: 45px 0 0;
  }

  &__slider {
    &-wrapper {
      grid-column: 5/13;
    }

    &-logo {
      max-width: 100%;
      height: auto;
      opacity: .3;
      @include ease;

      &:hover {
        opacity: .8;
      }
    }
  }
}
