.project-page {
  &__banner {
    padding-top: 60px;

    &-button {
      text-transform: uppercase;
      grid-column: 9/13;
      display: flex;
      align-items: center;

      @include r(768) {
        grid-column: 8/13;
      }

      &:hover {
        color: $dark;
      }

      &-icon {
        min-width: 30px;
        width: 30px;
        height: 30px;
        border: 1px solid $dark;
        outline: none;
        box-shadow: none;
        background: none;
        border-radius: 50%;
        margin-left: 10px;
        @include flex-center;

        @include rmin(1466) {
          border-width: 2px;
        }
      }
    }
  }
  &__begin {
    .layout__grid {
      grid-template-rows: repeat(3, auto);
    }

    .nominal--tight__info {
      grid-row: 1/4;
    }
  }

  &__testimonials {
    &-list {
      grid-column: span 4;

      @include r(1200) {
        grid-column: span 8;
      }
    }

    &-item {
      position: relative;
      color: $black;
      text-transform: uppercase;
      padding: 8px 0;

      @include rmin(1200) {
        padding: 25px 0 15px;
      }

      &::before {
        position: absolute;
        content: '';
        width: 3000px;
        height: 1px;
        left: 0;
        bottom: 0;
        background-color: $black;
      }
    }
  }

  &__pdf {
    grid-column: 12/13;
    grid-row: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    @include r(1200) {
      grid-row: 4/5;
      margin-top: 10px;
    }

    @include r(768) {
      margin-top: 0;
      //grid-row: 7/8
    }

    span {
      position: relative;
      font-family: Monserrat, sans-serif;
      font-size: 0.7143rem;
      color: $olive;
      letter-spacing: 0.085em;
      text-transform: uppercase;
      margin-left: 9px;
      z-index: 1110;
    }
  }

  &__team {
    &-item {
      &-top {
        min-height: 60px;
        border-bottom: 1px solid $olive;
        padding-bottom: 25px;
        margin-bottom: 25px;
      }

      &-logo {
        max-width: 100%;
        height: auto;
        opacity: .3;
        @include ease;
      }

      &-title {
        font-size: 0.8571rem;
        text-transform: uppercase;
        color: $olive;
        margin-bottom: 23px;
      }

      &-description {
        font-family: $Constantia;
        font-size: 1.1429rem;
        line-height: 1.4;
        color: $gray;
      }

      &:hover {
        .project-page__team-item-logo {
          opacity: .8;
        }
      }
    }
  }

}

.projects {
  margin-bottom: 43px;

  @include r(960) {
    .layout__grid {
      grid-row-gap: 20px;
    }
  }
}
