.subscribe {
  grid-column: 2/12;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 30px;

  &__section {
    min-height: calc(100vh - 340px);
    display: flex;
    align-items: center;

    @include rmin(1466) {
      min-height: calc(100vh - 370px);
    }
  }

  &__title {
    grid-column: 1/5;
  }

  &__input {
    grid-column: 1/5;
    grid-row: 2/3;
  }

  .checkbox {
    grid-column: 5/11;
    grid-row: 2/3;
  }

  .button {
    grid-column: 5/11;
    grid-row: 3/4;
  }

}
