.subscribe {
  grid-column: 2/12;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 30px;

  @include r(1200) {
    grid-column: 1/13;
  }

  &__section {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;

    & > .layout__grid:first-child {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }

  &__close {
    font-size: 12px;
    text-transform: uppercase;
    color: $olive;
    display: flex;
    align-items: center;
    grid-column: 11/13;

    &-icon {
      fill: $olive;
      margin-left: 35px;
    }
  }

  &__title {
    grid-column: 1/5;

    @include r(768) {
      grid-column: 1/13;
    }
  }

  &__input {
    grid-column: 1/5;
    grid-row: 2/3;

    @include r(768) {
      grid-column: 1/13;
    }
  }

  .checkbox {
    grid-column: 5/11;
    grid-row: 2/3;

    @include r(768) {
      grid-column: 1/13;
      grid-row: auto;
    }
  }

  .button {
    grid-column: 5/11;
    grid-row: 3/4;

    @include r(768) {
      grid-column: 1/13;
      grid-row: auto;
    }
  }

}
