.unknown {
  position: relative;
  height: 100%;

  &__layout {
    min-height: 100vh;

    .header__title {
      @include r(1200) {
        margin-bottom: 10px;
      }
    }
  }

  &__in {
    position: absolute;
    width: calc(100% + 20px);
    min-height: calc(100vh + 10px);
    left: -10px;
    top: 0;
    background-image: url('../img/unknown__bg.jpg');

    @include r(576) {
      width: calc(100% + 40px);
      left: -20px;
    }
  }
}
