<footer class="footer">
    <div class="layout__grid">
        <div class="footer__item">
            <div class="footer__link-wrapper">
                <a class="footer__link" cursor-class="cursor--interactive" href="contacts.html">контакты</a>
            </div>
            <div class="footer__link-wrapper">
                <a class="footer__link" cursor-class="cursor--interactive" href="mailto: hello@voshodmoscow.ru">e-mail</a>
            </div>
        </div>
        <div class="footer__item">
            <div class="footer__link-wrapper">
                <a class="footer__link" cursor-class="cursor--interactive" href="#">facebook</a>
            </div>
            <div class="footer__link-wrapper">
                <a class="footer__link" cursor-class="cursor--interactive" href="#">instagramm</a>
            </div>
        </div>
        <div class="footer__item">
            <div class="footer__link-wrapper">
                <a class="footer__link" cursor-class="cursor--interactive" href="tel:74951509999">+7<br>495 150 99 99</a>
            </div>
        </div>
        <div class="footer__copyrights d-flex align-items-center">© <span class="ml-1 mt-1 d-inline-block">2021 Vos'hod</span></div>
        <div class="footer__subtitle">Эта веб-страница носит исключительно информационный характер и не является публичной офертой, определяемой положениями статьи 437 ГК РФ</div>
    </div>
</footer>
