<footer class="footer">
    <div class="layout__grid">
        <div class="footer__item">
            <a class="footer__link" href="#">контакты</a>
            <a class="footer__link" href="#">e-mail</a>
        </div>
        <div class="footer__item">
            <a class="footer__link" href="#">facebook</a>
            <a class="footer__link" href="#">instagramm</a>
        </div>
        <div class="footer__item">
            <a class="footer__link" href="tel:74951509999">+7<br>495 150 99 99</a>
        </div>
        <div class="footer__copyrights d-flex align-items-center">© <span class="ml-1 mt-1 d-inline-block">2020 Vos'hod</span></div>
        <div class="footer__subtitle">Эта веб-страница носит исключительно информационный характер и не является публичной офертой, определяемой положениями статьи 437 ГК РФ</div>
    </div>
</footer>
