<header class="header">
    <div class="layout__grid">
        <a class="header__logo" href="index.html" cursor-class="cursor--light-button">
            <svg class="header__logo-icon" width="61" height="9">
                <use xlink:href="#logo-title"></use>
            </svg>
        </a>
        <div class="header__nav">
            <div class="header__nav-item">
                <a class="header__nav-link" cursor-class="cursor--interactive" href="projects.html">проекты</a>
            </div>
            <div class="header__nav-item">
                <a class="header__nav-link" cursor-class="cursor--interactive" href="news.html">пресс-центр</a>
            </div>
            <div class="header__nav-item">
                <a class="header__nav-link" cursor-class="cursor--interactive" href="about.html">о компании</a>
            </div>
            <div class="header__nav-item">
                <a class="header__nav-link" cursor-class="cursor--interactive" href="partners.html">партнеры</a>
            </div>
            <div class="header__nav-item">
                <a class="header__nav-link header__nav-link--here" cursor-class="cursor--interactive" href="contacts.html">Контакты</a>
            </div>
        </div>
        <div class="header__buttons">
            <a class="header__tel d-xl-none" href="tel:7 4951509999">
                <svg class="header__tel-icon" width="18" height="17">
                    <use xlink:href="#telephone"></use>
                </svg>
            </a>
            <button class="header__language" cursor-class="cursor--interactive">Eng</button>
            <button class="header__hamb d-xl-none js-toggle-menu" type="button">
                <span class="header__hamb-icon header__hamb-icon--1">
                    <svg width="21" height="17">
                        <use xlink:href="#hamburger"></use>
                    </svg>
                </span>
                <span class="header__hamb-icon header__hamb-icon--2">
                    <svg width="16" height="16">
                        <use xlink:href="#cross"></use>
                    </svg>
                </span>
            </button>
        </div>
        <div class="header__bottom">
            <h1 class="header__title section__title--big">Контакты</h1>
        </div>
    </div>
</header>
