<style>
    .preloader__wrp {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        min-height: 300px;
        width: 100vw;
        background-color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        z-index: 100;
    }

    .preloader {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 50px;
        width: 50px;
        margin: -25px 0 0 -25px;
    }

    .preloader span {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #D9C557;
        -webkit-animation: preloader 1.7s infinite ease-in-out both;
        animation: preloader 1.7s infinite ease-in-out both;
        margin-right: 5px;
    }

    .preloader span:nth-child(1) {
        left: 0;
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }

    .preloader span:nth-child(2) {
        left: 15px;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .preloader span:nth-child(3) {
        left: 30px;
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .preloader span:nth-child(4) {
        left: 45px;
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    @-webkit-keyframes preloader {
        0%, 80%, 100% {
            -webkit-transform: scale(0);
            transform: scale(0);
            transform: scale(0);
            opacity: 0;
        }
        40% {
            -webkit-transform: scale(1);
            transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes preloader {
        0%, 80%, 100% {
            -webkit-transform: scale(0);
            transform: scale(0);
            transform: scale(0);
            opacity: 0;
        }
        40% {
            -webkit-transform: scale(1);
            transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
    }
</style>
<div class="preloader__wrp">
    <div class="preloader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
