@font-face {
  font-family: 'Arimo-Bold';
  src: url('../fonts/Arimo-Bold.eot');
  src: url('../fonts/Arimo-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Arimo-Bold.woff2') format('woff2'),
  url('../fonts/Arimo-Bold.woff') format('woff'),
  url('../fonts/Arimo-Bold.ttf') format('truetype'),
  url('../fonts/Arimo-Bold.svg#Arimo-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arimo-BoldItalic';
  src: url('../fonts/Arimo-BoldItalic.eot');
  src: url('../fonts/Arimo-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Arimo-BoldItalic.woff2') format('woff2'),
  url('../fonts/Arimo-BoldItalic.woff') format('woff'),
  url('../fonts/Arimo-BoldItalic.ttf') format('truetype'),
  url('../fonts/Arimo-BoldItalic.svg#Arimo-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arimo-Italic';
  src: url('../fonts/Arimo-Italic.eot');
  src: url('../fonts/Arimo-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Arimo-Italic.woff2') format('woff2'),
  url('../fonts/Arimo-Italic.woff') format('woff'),
  url('../fonts/Arimo-Italic.ttf') format('truetype'),
  url('../fonts/Arimo-Italic.svg#Arimo-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arimo';
  src: url('../fonts/Arimo.eot');
  src: url('../fonts/Arimo.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Arimo.woff2') format('woff2'),
  url('../fonts/Arimo.woff') format('woff'),
  url('../fonts/Arimo.ttf') format('truetype'),
  url('../fonts/Arimo.svg#Arimo') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Constantia';
  src: url('../fonts/Constantia.eot');
  src: url('../fonts/Constantia.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Constantia.woff2') format('woff2'),
  url('../fonts/Constantia.woff') format('woff'),
  url('../fonts/Constantia.ttf') format('truetype'),
  url('../fonts/Constantia.svg#Constantia') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Regular.eot');
  src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe-Regular.woff2') format('woff2'),
  url('../fonts/Circe-Regular.woff') format('woff'),
  url('../fonts/Circe-Regular.ttf') format('truetype'),
  url('../fonts/Circe-Regular.svg#Circe-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
